################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.dll
*.pdb
*.exe
*.cache

.vs/
TimeKeeper/.vs
TimeKeeper/v17
TimeKeeper/obj
TimeKeeper/bin
TimeKeeper/.vsidx
TimeKeeper.Infrastructure/obj
TimeKeeper.Infrastructure/bin
TimeKeeper.Application/obj
TimeKeeper.Application/bin
TimeKeeper.Core/obj
TimeKeeper.Core/bin

DocumentLayout.json
.fake