################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.dll
/TimeKeeper/obj/Debug/net8.0/TimeKeeper.AssemblyInfoInputs.cache
*.cache
TimeKeeper.Infrastructure/obj/project.assets.json
TimeKeeper.Infrastructure/obj/project.nuget.cache
TimeKeeper.Infrastructure/obj/TimeKeeper.Infrastructure.csproj.nuget.dgspec.json
TimeKeeper.Infrastructure/obj/TimeKeeper.Infrastructure.csproj.nuget.g.props
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeep.0CBAF303.Up2Date
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.AssemblyInfo.cs
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.AssemblyInfoInputs.cache
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.assets.cache
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.csproj.FileListAbsolute.txt
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.pdb
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.sourcelink.json
TimeKeeper.Infrastructure/bin/Debug/net6.0/TimeKeeper.Core.pdb
TimeKeeper.Infrastructure/bin/Debug/net6.0/TimeKeeper.Infrastructure.deps.json
TimeKeeper.Infrastructure/bin/Debug/net6.0/TimeKeeper.Infrastructure.pdb
TimeKeeper.Infrastructure/bin/Debug/net6.0/TimeKeeper.Infrastructure.runtimeconfig.json
TimeKeeper.Core/obj/Debug/net6.0/TimeKeeper.Core.AssemblyInfo.cs
TimeKeeper.Core/obj/Debug/net6.0/TimeKeeper.Core.AssemblyInfoInputs.cache
TimeKeeper.Core/obj/Debug/net6.0/TimeKeeper.Core.csproj.FileListAbsolute.txt
TimeKeeper.Core/obj/Debug/net6.0/TimeKeeper.Core.pdb
TimeKeeper.Core/obj/Debug/net6.0/TimeKeeper.Core.sourcelink.json
TimeKeeper.Core/bin/Debug/net6.0/TimeKeeper.Core.deps.json
TimeKeeper.Core/bin/Debug/net6.0/TimeKeeper.Core.pdb
TimeKeeper/obj/project.assets.json
TimeKeeper/obj/project.nuget.cache
TimeKeeper/obj/TimeKeeper.csproj.nuget.dgspec.json
TimeKeeper/obj/TimeKeeper.csproj.nuget.g.props
TimeKeeper/obj/Debug/net8.0/apphost.exe
TimeKeeper/obj/Debug/net8.0/staticwebassets.build.json
TimeKeeper/obj/Debug/net8.0/TimeKeeper.AssemblyInfo.cs
TimeKeeper/obj/Debug/net8.0/TimeKeeper.assets.cache
TimeKeeper/obj/Debug/net8.0/TimeKeeper.csproj.FileListAbsolute.txt
TimeKeeper/obj/Debug/net8.0/TimeKeeper.csproj.Up2Date
TimeKeeper/obj/Debug/net8.0/TimeKeeper.pdb
TimeKeeper/obj/Debug/net8.0/TimeKeeper.sourcelink.json
TimeKeeper/obj/Debug/net8.0/staticwebassets/msbuild.build.TimeKeeper.props
TimeKeeper/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TimeKeeper.props
TimeKeeper/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TimeKeeper.props
TimeKeeper/bin/Debug/net8.0/appsettings.Development.json
TimeKeeper/bin/Debug/net8.0/appsettings.json
TimeKeeper/bin/Debug/net8.0/TimeKeeper.Core.pdb
TimeKeeper/bin/Debug/net8.0/TimeKeeper.deps.json
TimeKeeper/bin/Debug/net8.0/TimeKeeper.exe
TimeKeeper/bin/Debug/net8.0/TimeKeeper.Infrastructure.pdb
TimeKeeper/bin/Debug/net8.0/TimeKeeper.pdb
TimeKeeper/bin/Debug/net8.0/TimeKeeper.runtimeconfig.json
TimeKeeper/.vs/TimeKeeper/FileContentIndex/86daa215-d463-49c0-952c-16ef93237638.vsidx
TimeKeeper/.vs/TimeKeeper/FileContentIndex/a0d97193-6eb3-4860-80cc-fd1c3e240099.vsidx
TimeKeeper/.vs/TimeKeeper/FileContentIndex/f0275d50-9827-4c46-8d9e-66fed2be466d.vsidx
TimeKeeper/.vs/TimeKeeper/v17/.suo
TimeKeeper/.vs/TimeKeeper/v17/DocumentLayout.json
TimeKeeper/obj/project.assets.json
TimeKeeper/obj/project.nuget.cache
TimeKeeper/obj/TimeKeeper.csproj.nuget.dgspec.json
TimeKeeper/obj/TimeKeeper.csproj.nuget.g.props
TimeKeeper/obj/Debug/net8.0/TimeKeeper.AssemblyInfo.cs
TimeKeeper/obj/Debug/net8.0/TimeKeeper.assets.cache
TimeKeeper.Infrastructure/obj/project.assets.json
TimeKeeper.Infrastructure/obj/project.nuget.cache
TimeKeeper.Infrastructure/obj/TimeKeeper.Infrastructure.csproj.nuget.dgspec.json
TimeKeeper.Infrastructure/obj/TimeKeeper.Infrastructure.csproj.nuget.g.props
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.AssemblyInfo.cs
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.AssemblyInfoInputs.cache
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.assets.cache
TimeKeeper.Infrastructure/obj/project.assets.json
TimeKeeper.Infrastructure/obj/project.nuget.cache
TimeKeeper.Infrastructure/obj/TimeKeeper.Infrastructure.csproj.nuget.dgspec.json
TimeKeeper.Infrastructure/obj/TimeKeeper.Infrastructure.csproj.nuget.g.props
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.AssemblyInfo.cs
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.AssemblyInfoInputs.cache
TimeKeeper.Infrastructure/obj/Debug/net6.0/TimeKeeper.Infrastructure.assets.cache
